[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
